@import './variables';

* {
  box-sizing: border-box;
}

body {
  background-image: url('./media/original.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  padding: 0;

  main {
    align-self: center;
    max-width: $space * 74;
  }
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;

  input {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

.slider {
  background-color: $c-slider;
  bottom: 0;
  color: $c-slider-before;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;

  &::before {
    background-color: $c-slider-before;
    bottom: 4px;
    content: '';
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }

  &.round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: $c-slider-input;
}

input:focus + .slider {
  box-shadow: 0 0 1px $c-slider-input;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider::after {
  content: 'F°';
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  left: 70%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

input:checked + .slider::after {
  content: 'C°';
  left: 35%;
}

form {
  margin: auto;
  padding: $space * 5;
  width: 80%;

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  >:first-child {
    margin-bottom: $space * 2;

    input {
      width: 100%;
    }
  }
}

.main-info,
.sub-info {
  background-color: $c-info-bg;
  border: 1px solid $c-border;
  display: flex;
  padding: $space * 4;
}

.main-info {
  border-top-left-radius: $space * 2;
  border-top-right-radius: $space * 2;
  justify-content: space-between;
  position: relative;
  text-transform: capitalize;

  >:last-child {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $space * 5;
  }

  img {
    margin: auto;
  }
}

.sub-info {
  border-bottom-left-radius: $space * 2;
  border-bottom-right-radius: $space * 2;
  flex-wrap: wrap;
  margin-top: -1px;

  p {
    width: $max-p / 2;

    &:nth-child(even) {
      text-align: right;
    }
  }
}

.err {
  background-color: $c-font-bg;
  color: $c-font;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  top: -$space * 12;
  width: 100%;
}
