$c-body: #353535;
$c-slider: #2196f3;
$c-slider-before: #fff;
$c-slider-input: #2196f3;
$c-border: #5d5d5d;
$c-info-bg: rgba(255, 255, 255, .486);
$c-font: #f00;
$c-font-bg: #ff0;

$space: 5px;
$max-p: 100%;
